.landing-wrapper {
    background-size: cover;
    background-position: left;
}

.landing-wrapper > h1 {
    position: absolute;
    top: 47%;
    left: 28%;
    font-size: 2.25rem;
}
.landing-wrapper > h2 {
    position: absolute;
    top: 59%;
    left: 34%;
    font-size: 1.25rem;
}