.footer {
    position: relative;
    background-color: var(--gray);
}

.footer a {
    color: var(--white);
    text-decoration-color: var(--white);
}

#coffee {
    height: 2.25rem;
    position:absolute;
    left: 1rem;
    bottom: 1rem;
}

#logos img {
    position:relative;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (max-width: 768px) {
    #coffee {
        height: 1.75rem;
        left: unset;
        right: .5rem;
        bottom: .5rem;
    }
    
    #logos img {
        width: 1.75rem;
        margin-left: .5rem;
        margin-right: .5rem;
    }
}