:root {
  /* Color Palette */
  --white: #f4f4f4;
  --gray: #646464;
  --gray-csv: 212, 212, 212;
  --bg-green: #152010;
  --bg-blue: #041424;
  --bg-violet: #160824;
  --bg-dark: #2a2a2a;
  --problem: hsl(0, 50%, 83%);
  --solution: hsl(120, 50%, 83%);
}

@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic&display=swap);

body {
  margin: 0;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Portfolio {
  background: radial-gradient(var(--bg-dark), black);
}
.Techs {
  background: radial-gradient(var(--bg-violet), black);
}
/* .Story {
  background: radial-gradient(var(--bg-dark), black);
} */
/* .Contact {
  background: radial-gradient(var(--bg-dark), black);
} */

section{
  min-height: 100vh;
  width: 100%;
  text-align: center;
}